<div class="container">
  <div class='banner'><h1>Restaurants</h1></div>
  <div class='addbtn'><%= link_to 'Add a new restaurant', new_restaurant_path, class: "btn"%></div>
</div>
<div class='list'>
<ul>
  <% @restaurants.each do |restaurant, index| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant), class:'restauran'%> - Call here: <%= restaurant.phone_number%></li>
  <% end %>
</ul>
</div>
